#header {
  background-color: var(--bg-gray-900);
  color: var(--text-gray-300);
  position: sticky;
  top: 0;
  z-index: 1;
}

#header .container .mobile-menu {
  text-align: right;
  font-size: 30px;
}

#header .header-container {
  padding: 1em 0;
}

#header nav {
  transition: all .236s ease-in-out;
}

#header nav {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: var(--bg-gray-900);
  overflow: hidden;
  max-height: 0px;
}

.show-menu {
  max-height: 319px !important;
}

#header nav ul li a {
  display: block;
  padding: 16px 20px;
  text-transform: capitalize;
  transition: all 0.236s ease;
  font-size: 17px;
}
#header nav ul li a:hover {
  background-color: var(--bg-gray-700);
  color: var(--text-blue-500);
}

/* media query */

@media screen and (min-width: 768px) {
  #header .container {
    padding: .3em 0;
  }

  #header .container .mobile-menu {
    display: none;
  }

  #header nav {
    position: unset;
    overflow: unset;
    max-height: unset;
  }

  #header nav ul {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    justify-content: end;
  }

  #header nav ul li a {
    display: block;
    padding: 0;
    text-transform: capitalize;
    transition: all 0.236s ease;
    font-size: 18px;
    font-weight: 500;
  }

  #header nav ul li a:hover {
    background-color: unset;
    color: var(--text-blue-500);
  }
}
